# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
*.log

# Environment files
.env

# React build output
build/
dist/

# System files
.DS_Store
Thumbs.db

# IDEs and text editors
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp
